.logo{
	width: 100px;
	height: 50px;
}
.container .contenido{
	margin-top: 100px;
}
.ruta{
	font-size: 12px;
}
.subtitulo{
	font-style: italic;
	text-decoration: underline;
	font-size: 18px;
}
.auxtd1{
    padding: 6px;
}
.img-visita{
	width: 500px;
	height: 500px;
}
.img-emotion{
	width: 80px;
	height: 50px;
}
.enMedio {
	position: relative; 
	float: left; 
	width: 70%; 
	margin-left: 15%; 
	margin-right: 15%;
}
.bordeado{
	position: relative; 
	float: left; 
	width: 70%; 
	margin-left: 15%; 
	margin-right: 15%;

	border: 1px solid black;
    padding: 5px;
    text-align: center;

    border-spacing: 15px;
}


/* carousel mini */
.media-carousel 
{
  height: 110px;
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
.media-carousel .item {
  height: 110px;
  background-color: #ffffff;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */
